/createData
/data.zip
/flood_risk_map.png
/interpolated_rainfall.tif
/interpolated_rainfall_resized.tif
/interpolation.png
/smoothed_elevation.tif
/smoothed_elevation.tif.aux.xml
data/puneDem.tif
data/puneDem.tif.aux.xml
data/PuneLuLc.tif
data/ps2.tif
data/ps2.tif.aux.xml
data/ps1.tif
data/data.tif
data/proximity.tif
data/PuneLuLc_with_integers.tif
data/qinterpol.tif
data/rainfall_clipped.tif
